.nav-container {
  align-items: center;
  background-color: #C4CAD0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
}

.nav-button {
  height: 200px;
  padding: 2%;
}


.nav-button:hover {
  background-color: #878C8F;
  cursor: pointer;
}